<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="index.html" method="post">
      Enter Dog name: <input type="text" name="dog_name" >

    </form>

  </body>
</html>
