<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/display_puppy" method="post">
      Enter Dog name: <input type="text" name="name" >
      Enter Dog breed: <input type="text" name="breed" value="">
      <input type="submit" value="submit">

    </form>

  </body>
</html>
